<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top primary">

    <img width="70" alt="Angular Logo" src="./assets/images/angular.png">
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav">

        <li class="nav-item">        
          <a class="nav-link" routerLink="accueil"><i class="bi bi-house-check"></i> Home Page</a>
        </li>&nbsp;&nbsp;

        <li class="nav-item">         
          <a class="nav-link" routerLink="liste-des-films"><i class="bi bi-film"></i> Les Films(datas)</a>
        </li>&nbsp;&nbsp;

        <li class="nav-item">         
          <a class="nav-link" routerLink="lazy-loading"><i class="bi bi-film"></i> Compte Client(Lazy Loading)</a>
        </li>&nbsp;&nbsp;

        <li class="nav-item">         
          <a class="nav-link" routerLink="rxjs"><i class="bi bi-arrow-bar-right"></i> Rxjs & Observables</a>
        </li>&nbsp;&nbsp;

        <li class="nav-item">         
          <a class="nav-link" routerLink="firebase"><i class="bi bi-arrows-fullscreen"></i> Firestore & RealTimeDB</a>
        </li>&nbsp;&nbsp;

        <li class="nav-item">         
          <a class="nav-link" routerLink="ngrx"><i class="bi bi-arrow-bar-up"></i> Ngrx & Store</a>
        </li>&nbsp;&nbsp;

        <li class="nav-item">         
          <a class="nav-link" routerLink="reactives-forms"><i class="bi bi-envelope-at"></i> Formulaires Angular</a>
        </li>&nbsp;&nbsp;

        <li class="nav-item">         
          <a class="nav-link" routerLink="tests-unitaires"><i class="bi bi-funnel"></i> Unit Tests</a>
        </li>&nbsp;&nbsp;

        <li class="nav-item">         
          <a class="nav-link" routerLink="liste-des-tps-et-des-exos"><i class="bi bi-gear"></i> TP & Exos</a>
        </li>&nbsp;&nbsp;
    
      </ul>
    </div>
  </nav>

