<div class="alert alert-primary">

    <h1>L'InternationalisatioN I18N</h1>
    <h2>{{ title }}</h2>

    <div>

        <p><i class="bi bi-arrow-right-circle"></i> Commande : ng add @angular/localize</p>
        <p>1- Marquer les éléments à traduire avec la directive i18n</p>
        <p>2-Créer le fichier de traduction messages.json (voir messages.xlf[xml])
            <br>Commande : ng extract-i18n --output-path src/locale --format="json"
        </p>
        <p>3- Enregistrer le messages.json(xlf) en messages.[langue].json</p>
        <p>4- Apporter les traductions dans ces fichiers messages.[langue].json</p>
        <p>5-Editer angular.json</p>
    </div>

    <div>
        <!-- contenu à traduire -->
        <p i18n>Bonjour Angular !</p>
        <p i18n="@@slogan">Angular est le meilleur Framework !</p>
        <p>
            <img i18n i18n-src i18n-title src="assets/images/drapeaux/fr/drapeau_fr.jpg" title="Mon Drapeau">
        </p>
        <p>
            <a i18n i18n-href href="https://www.angular.io" target="_blank">Consulter la Doc Angular IO</a>
        </p>
    </div>

    <p><em><i class="bi bi-arrow-right-circle"></i> une alternative intéressante ngx-translate</em></p>

</div>
