<div class="alert alert-warning">
    <p>Progressive Web Apps - PWA</p>
    <p><i class="bi bi-arrow-right-circle"></i> Commande : ng add @angular/pwa</p>

    <p><a target="_blank"
            href="https://developer.mozilla.org/fr/docs/Web/API/Service_Worker_API">https://developer.mozilla.org/fr/docs/Web/API/Service_Worker_API</a>
    </p>

    <p><a target="_blank" 
        href="https://angular.io/guide/service-worker-config">https://angular.io/guide/service-worker-config</a></p>

    <p><a target="_blank" 
            href="https://developer.mozilla.org/fr/docs/Web/Progressive_web_apps/Guides/Making_PWAs_installable">https://developer.mozilla.org/fr/docs/Web/Progressive_web_apps/Guides/Making_PWAs_installable</a>
    </p>

    <button class="btn btn-primary" (click)="showNotification()">Afficher une notification</button>
</div>