<div class="alert alert-info">
  <button class="btn btn-warning" (click)="createObservable1()">Créer un Observable</button>
  <ul #formations1 class="list-group"></ul>
  <p></p>

  <button class="btn btn-success" (click)="createObservable2()">Créer un Observable</button>
  <p></p>

  <ul #formations2 class="list-group"></ul>
  <p></p>

  <button class="btn btn-success" (click)="play()">PLAY</button>
  &nbsp;
  <!-- <button class="btn btn-danger" (click)="stop()">STOP</button> -->

  <button class="btn btn-warning" #stop >STOP</button>

  <p></p>
  <p><strong>{{temps}}</strong></p>

  <p></p>
  <p class="alert alert-primary">Message : {{ propInfos }}</p>
  <p class="alert alert-primary">Message : {{ infos$ | async }}</p>

  <p></p>
  <label for="">Saisir du texte ...</label>
  <input type="text" class="form-control" #texte>
</div>
