<div>  
    
    <p class="alert alert-primary">
        Ajouter au panier
        <input type="checkbox" (change)="choixFilm($event)">
    </p>
    <h5 class="card-title titre"><i class="bi bi-airplane-engines-fill"></i> {{childFilm.title}}</h5>
    <hr>
                <p class="card-text"><i class="bi bi-airplane-engines-fill"></i> Description : {{childFilm.desc }} </p>
                <hr>
                <p class="card-text"><i class="bi bi-airplane-engines-fill"></i> Année : {{childFilm.year}}</p>               
    
</div>
